.auth {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}
.auth input {
  width: 90%;
  margin: 10px 0;
  padding: 8px;
}
.auth button {
  padding: 10px 15px;
  margin-top: 10px;
}
